.nav {
    background-color: rgb(49, 111, 226);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    font-weight: 600;
    color: white;
}

.form {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.flex-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.flex-item {
    width: 100%;
    max-width: 200px;
}

.content {
    margin: auto;
    padding: 2.5% 10%;
}