.nav {
    background-color: rgb(49, 111, 226);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    font-weight: 600;
    color: white;
}

.form {
    margin: auto;
    padding-top: 2.5%;
    width: 100%;
    max-width: 800px;
}

.flex-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.flex-item {
    width: 50%;
    max-width: 250px;
}