.nav {
    background-color: rgb(49, 111, 226);
}

.link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.link:hover {
    /* font-weight:bold; */
    color: white;
}

.form {
    margin: auto;
    width: 100%;
    max-width: 600px;
}

.flex-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

.flex-item {
    width: 100%;
    max-width: 100%;
}

.content {
    margin: auto;
    padding: 2.5% 5%;
}

.scroll {
    height: 175px;
    max-height: fit-content;
    overflow-y: auto;
}

.add {
    width: 100%;
    text-align: left;
    background: none;
	color: inherit;
	border: none;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.add:hover {
    background-color: rgb(74, 132, 255);
}